body {
  -webkit-app-region: drag;
}

button {
  border: 3px solid white;
  color: white;
  background-color: black;
  cursor: pointer;
  width: 50%;
  height: 50%;
  margin: auto;
}

button:active {
  background-color: white;
  color: black;
}
